@mixin text_body($color: #3b4151)
{
    font-family: "Kievit OT", sans-serif;

    color: $color !important;
}

@mixin text_code($color: #3b4151)
{
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-weight: 600;

    color: $color !important;
}

@mixin text_headline($color: #3b4151)
{
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 0 0px #fff !important;
    color: $color !important;
}
